<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		{% if config.googleTagManagerId != "" %}
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ config.googleTagManagerId }}"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		{% endif %}
		{% include svg.html %}
		{% include partials/preview-banner.html %}
		{% include partials/search-toggle.html %}
		{% include partials/masthead.html %}
		{% include partials/search-results.html %}
		
		{{ content }}

		{% include partials/footer.html %}
		{% include scripts.html %}
	</body>
</html>
