<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
{% if environment.isDevelopment %}
  <script src="/assets/js/jquery.unveil.js"></script>
  <script src="/assets/js/masonry.pkgd.js"></script>  
  <script src="/assets/js/main.js"></script>
{% else %}
  <script src="/assets/js/min/main.min.js"></script>
{% endif %}

<script defer src="/assets/js/min/search.min.js"></script>

{% if config.googleTagManagerId != "" %}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ config.googleTagManagerId }}');</script>
{% elsif config.googleAnalyticsId != "" %}
<!-- Google Analytics 4 -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ config.googleAnalyticsId }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ config.googleAnalyticsId }}');
</script>
{% endif %}
